* {
    margin: 0;
    padding: 0;

}

.body {
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: right;
}

.navbar {
    background-color: aliceblue;
    padding: 0;

}

.navbar-brand {
    height: 40px;
    padding-left: 20px;

}


.hero {
    background: white url(images/hero1.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 90px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
}


.services .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.service {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: cadetblue;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width : 768px) {
    .service {
        width: 50%;
    }
}

@media screen and (min-width : 1200px) {
    .service {
        width: 25%;
    }
}


.service .logo-design {
    font-size: 45px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #3ec6ff;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.newslatter {
    background: white url(images/img.png) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    width: auto;
    margin-bottom: 90px;
    background-color: rgba(134, 134, 134, 0.9);
    opacity: 0.85;
    height: 300px;

}

#email{
    width: 100%;
    background-color: transparent;
    color: #ffffff;
} 

.titleEmail{
    color: #ffffff;
}
.submit
{
    border: 0px;
    background-color: rgb(62, 198, 255);
    left: 1175px;
    top: 1630px;
    color: white;
    height: calc(1.5em + .75rem + 2px);
    width:60%;
}